body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: fit-content;
    margin: 20px auto;
    padding: 20px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author {
    font-size: 0.9rem;
    color: #333;
    background-color: #fff;
    position: fixed;
    padding: 5px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    right: 0;
    bottom: 10px;

    text-decoration: none;
}

.location {
    width: 120px;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    font-size: 25px;
    color: #333333;
    transition: all 0.3s ease;
    z-index: 3;
}

.location:hover {
    border-color: #666666;
}

.location:focus {
    outline: none;
    border-color: #333333;
    box-shadow: 0 0 0 2px #333333;
}

.day {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 0px;
    padding: 10px 0 0 0;
}

.location-info {
    color: #333;
    background-color: #fff;
    text-align: center;
    position: sticky;
    top: -1px;
    z-index: 2;
}

.date {
    width: 100%;
    color: #333;
    background-color: #fff;
    text-align: center;
    position: sticky;
    top: 2.2rem;
    z-index: 1;
}

.weather-table {
    width: calc(100% - 5px);
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.weather-table th,
.weather-table td {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.weather-table th {
    background-color: #f9f9f9;
    color: #333;
    padding: 10px;
    position: sticky;
    top: 4.5rem;
}

.weather-table td {
    background-color: #fff;
    padding: 0 10px;
}

.weather-table tr:nth-child(even) td {
    background-color: #f2f2f2;
}

.condition-icon {
    height: 40px;
    padding: 0 10px;
}

.weather-table .temp {
    color: #FF5722;
}

.weather-table .humidity {
    color: #2196F3;
}

.weather-table .condition {
    color: #9C27B0;
}

.weather-table .wind {
    color: #4CAF50;
}

.weather-table .rain-chance {
    color: #FFC107;
}