body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90vw;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location {
    width: 120px;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    font-size: 25px;
    color: #333333;
    transition: all 0.3s ease;
}

.location:hover {
    border-color: #666666;
}

.location:focus {
    outline: none;
    border-color: #333333;
    box-shadow: 0 0 0 2px #333333;
}

.forecast {
    margin-top: 20px;
}

.day {
    margin-bottom: 20px;
}

.date {
    color: #333;
    text-align: center;
}

.weather-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.weather-table th,
.weather-table td {
    padding: 10px;
    text-align: center;
}

.weather-table th {
    background-color: #f9f9f9;
    color: #333;
}

.weather-table td {
    background-color: #fff;
}

.weather-table tr:nth-child(even) td {
    background-color: #f2f2f2;
}

.weather-table .temp {
    color: #FF5722;
}

.weather-table .humidity {
    color: #2196F3;
}

.weather-table .condition {
    color: #9C27B0;
}

.weather-table .wind {
    color: #4CAF50;
}

.weather-table .rain-chance {
    color: #FFC107;
}